<% page_title "Five Star Resorts in Mexico & The Dominican Republic" %>
<% @resort_locations.each do |resort_location| %>
  <div class="location_header left round2">
    <span class="header_image_shadow left"><%= image_tag(resort_location.location_pic(:thumb), :class => "location_header_image left") %></span>
    <h2 class="location_header_header"><%= resort_location.resort_title %></h2>
  </div>
  <div class="left resort_locations_resorts full_wrap">
    <% resort_location.resorts.each do |resort| %>
  <div class="resort_location_resort_wrap">     
    <span class="thumbnail_wrap left">
      <%= link_to image_tag(resort.resort_pic(:thumb)), resort_path(resort)  %>   
    </span>
    <div class="location_resort_description left">     
      <h3 class="left dark_aqua">
        <%= link_to resort.name, resort_path(resort), :class => 'resort_listing_header' %>
          <% if resort.adults_only == true %>
            <span class="adult_only">(Adults Only Resort)</span>
          <% end %>
        </h3><br/>
      <p class="left mid_brown justify"><%= resort.description %></p>
    </div>
    <div class="grid_2 resort_select_button_wrap">
      <%= link_to "Select Resort", resort_path(resort), :class => 'btn resort_select_button' %>
    </div>
    <% if current_admin %>
    <%= link_to "Edit Resort", edit_resort_path(resort) %>
    <% end %>
    </div>
    <% end %>
  </div>
<% end %>
