<%= render :partial => 'layouts/footer_watermark' %>
<%= render :partial => 'layouts/footer_nav' %>
<%= render :partial => 'layouts/social_links' %>
<%= render :partial => 'layouts/contact_badge' %>
<div class="disclaimer">
	&#42; Additional charges may apply for certain activities or services.
</div>
<div class="disclaimer2">
	<%= link_to "Site design by Cube2Media", "http://www.cube2media.com", :target => "_blank" %>
</div>