<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<META name="y_key" content="fa5ab5a913d5fa6d">
<meta name="msvalidate.01" content="CDC0C985F0DCA4BF90B31C3F35FCF6E6" />
<meta name="description" content="<%= h(yield(:description) || "Paradise Resorts is a all inclusive luxury resort vacation get away reservation system.") %>">
<meta name="keywords" content="<%= h(yield(:keywords) || "cancun rentals, cancun resorts, all inclusive resorts, palace resorts, moon palace, time share rentals, time share vacations") %>">
<meta name="copyright" content="Copyright 2009 Paradise Resorts Now">
<meta name="title" CONTENT="Paradise Resorts Now">
<link ref="shortcut icon" href="favicon.ico"   type="image/ico" />
<title><%= h(yield(:title) || "Welcome") %> | Paradise Resorts Now</title>

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'reset-fonts-grids','jquiwidgets', '960', 'alerts/jquery.alerts', 'application', 'moon_landing', :cache => 'landing' %>

<%#= ******** JAVASCRIPTS ********** %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<%= javascript_include_tag 'jquery.livequery', 'jrails', 'jeasing', 'jQueryTimer', 'jquery.alerts', 'jquery.validate', 'cube_crossfade', 'prn_validations', :cache => true %>
<%= javascript_include_tag  'application' %>
