<div class="full_wrap policies">
  <h3>Terms and Conditions</h3>

  <h3>CANCELLATION POLICY</h3>
  
  <p>All visitors of the <%= APPLICATION_NAME %> Web Site (the "Site") shall adhere to the following rules and regulations. Your agreement to adhere to these policy will be automatic upon accessing the Site.</p>

  <ol class="ordered_list">
    <li>Applicable Law: Access and use of this Site is subject to all current federal, state and local laws, and as same may be amended from time to time.</li>

    <li>Copyright & Trademarks: All of the content in this Site is protected by copyright. All trademarks, logos and service marks (the "Marks") are the sole property of <%= APPLICATION_NAME %>. The use, modification, displaying, copying and licensing of any Mark from this Site is strictly prohibited.</li>
    <li>Warranties: <%= APPLICATION_NAME %> is not responsible to you or any other parties for any loss or damage resulting from your reliance on the information on the Site or for the accuracy of any statement or opinion made on this Site by any party other than <%= APPLICATION_NAME %>. By accessing this Site, you agree that it is your responsibility to verify the accuracy or completeness of any information or other content available on the Site. In addition, <%= APPLICATION_NAME %> shall not be responsible for damages or other losses resulting from errors or other failures by Third-party service providers in the processing of airline, Resort or credit card payments.</li>
    <li>Confidentiality: <%= APPLICATION_NAME %> agrees to maintain the confidentiality of your communications which contain personal information transmitted directly to <%= APPLICATION_NAME %>. However, you agree that by providing <%= APPLICATION_NAME %> with such information through the Site, you consent to its transmission over international borders as may be required for processing your travel reservations.</li>
    <li>Password Access: Access to, and use of, password protected and/or secure areas of this Site is restricted to authorized parties only. Any unauthorized access or attempted access to such areas will be subject to criminal and civil penalties.</li>
    <li>General: (A) <%= APPLICATION_NAME %> reserves the right to revise these rules and regulation at any time, and you will be deemed automatically aware of, and bound by, such changes. (B) A violation of these rules and regulations will be subject to civil and criminal action. Palace Resort reserves the right to block Site access to an Internet address in case of such violation.</li>
    <li><%= APPLICATION_NAME %> disclaims any liability whatsoever, whether based in tort, contract, strict liability or otherwise, for any damages, whether direct, indirect, incidental, consequential or special, arising out of or in any way connected with the use of this Site, notwithstanding that <%= APPLICATION_NAME %> may have been advised of such circumstances. This shall include liability for computer viruses.</li>
  </ol>

  <h4>PRIVACY POLICY</h4>

  <p><%= APPLICATION_NAME %> will not disclose any personal information to any outside party without your knowledge or consent. Details of your travel arrangements will not be revealed to any outside party except as necessary to process their reservations and travel arrangements.</p>

  <h4>SECURITY</h4>

  <p><%= APPLICATION_NAME %> uses advanced technology to ensure security on all data transmitted via www.paradiseresortsnow.com is secure. All credit card transactions and credit card information is not held by <%= APPLICATION_NAME %>, or any of its subsidaries. Your password is stored with 128 with encryption. All purchases are handled by PayPal please refer to their security disclaimer for further information on Credit Card transactions. In order to use this Site, users must be running Mozilla FireFox 3.0 and higher browsers, or Apple Safari version 3.0 or higher.</p>
  
</div>
